{% extends 'sheard/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}بازیابی گذرواژه{% endblock %}</title>
</head>
<body>
{% block main %}
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content">
                        <ul class="nav">
                            <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                            <li>بازیابی گذرواژه</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-register-area mtb-60px">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                    <div class="login-register-wrapper">
                        <div class="login-register-tab-list nav">
                            <h4>گذرواژه جدید</h4>
                        </div>
                        <div>
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <form action="{% url 'resetpass' %}" method="post">

                                        {% csrf_token %}

                                        {{ reset_pass.password.label_tag }}
                                        {{ reset_pass.password }}
                                        {{ reset_pass.password.errors }}

                                        {{ reset_pass.confirm_password.label_tag }}
                                        {{ reset_pass.confirm_password }}
                                        {{ reset_pass.confirm_password.errors }}

                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                            </div>
                                            <button type="submit"><span>تایید گذرواژه</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>